/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:5%;
	padding:5%;
	font-size:100%;
}

/*Make the h1 heading bigger with a bold font*/
h1 {
	font-size: 2em;
	font-weight: bold;
	font-family: Calibri, Helvetica, sans-serif;
}


.active {
	color: white;
	background-color: orange;
	text-transform: uppercase;
	text-align: center;
	font-family: Calibri, Helvetica, sans-serif;
}

a{
	text-decoration: none;
}

/*Style the images*/
img{
    height: 200px;
    width:auto;
    border: 1px orange;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	font-family: Calibri, Helvetica, sans-serif;
}

/* spacing for paragraphs, headings*/
p, h1, h2 {
    padding: 10px;
}

header, nav, main, h1, footer{
	margin: 10px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
	nav li {
		color: black;
		padding: 10px;
		width: 5%;
		font-family: Calibri, Helvetica, sans-serif;
	}


	
/*Added this so the links stay the same color*/
a:visited {
	color: grey;
	text-decoration: none;
}