/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:5%;
	padding:5%;
	font-size:120%;
}

#small_h1 {
	color: #687ABF;
	font-size: 1.5em;
}
/*Make the h1 heading bigger with a bold font*/
h1 {
	font-size: 2em;
	font-weight: bold;
	font-family: Calibri, Helvetica, sans-serif;
}


.active {
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	font-family: Calibri, Helvetica, sans-serif;
}

a{
	text-decoration: none;
}

/*Style the images*/
img{
    height: auto;
    width:200px;
    border: 1px orange;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Calibri, Helvetica, sans-serif;
}

/* spacing for paragraphs, headings*/
p, h1, h2 {
	padding: 10px;
	font-family: Calibri, Helvetica, sans-serif;
}

header, nav, main, h1, footer{
	margin: 10px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
	nav li {
		color: black;
		padding: 10px;
		width: 5%;
		display: inline-block;
		width: 20%;
		font-family: Calibri, Helvetica, sans-serif;
	}


#navlink {
	color: #4056A1 !important;
	text-decoration: none;
	font-weight: bold;
}
#navlink1 {
	color: #4056A1 !important;
	text-decoration: none;
}
a:visited {
	color: #4056A1;
}

#award {
	font-weight: bold;
	color: #F13C20;
}